/////////////////////////
// Reset
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: $color-text__dark;
}
/////////////////////////
// Layout
body {
	height: 100vh;
	font-family: $font-family__main;
	overflow-x: hidden;
}

// min heights are for making the footer behave
main {
	height: calc(100% - ($header-height + $footer-height));
	min-height: 31.25rem;
}
main.register-main {
	min-height: 36rem;
}
main.day-main {
	min-height: 70rem;
}
footer {
	height: $footer-height;
	display: flex;
	align-items: center;
	justify-content: center;
}
header {
	height: $header-height;
}
.reset,
.login {
	height: 100%;
	margin: 0 auto;
	max-width: 35rem;
	display: flex;
	align-items: center;
}
.register {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0 auto;
	max-width: 65rem;
}
.logo {
	margin-left: 1rem;
	padding-top: 1rem;
	font-size: $font__large;
	font-family: $font-family__logo;
	font-weight: 700;
}
.copy {
	font-weight: 500;
	color: $color-text__light;
}

/////////////////////////
// General Styles
ul {
	list-style-type: none;
}
h1 {
	font-size: $font__large;
}
h2 {
	font-size: 1.2rem;
}
label {
	font-size: $font__small;
	margin-bottom: 0.7rem;
	font-weight: 500;
	letter-spacing: 0.3px;
}
input {
	font-size: $font__medium;
	padding: 0.7rem;
	border-radius: $border-radius;
	outline: 1px solid rgb(209, 209, 209);
	border: none;

	&:focus {
		box-shadow: $box-shadow__input-active;
	}
}
button {
	border-radius: $border-radius;
	padding: 1rem;
	color: white;
	background-color: $color__purple;
	font-size: $font__medium;
	font-weight: 500;
	border: none;
	cursor: pointer;

	&:focus-visible {
		outline: none;
		box-shadow: $box-shadow__focus;
	}
}

a:link,
a:visited {
	color: $color__purple;
	text-decoration: none;
	padding: 0.1rem 0.2rem;
	border-radius: $border-radius;

	&:focus-visible {
		outline: none;
		box-shadow: $box-shadow__focus;
	}
}

a:hover,
a:active {
	color: $color-text__dark;
}
