$color__purple: #635bff;

$color-stripe__purple: #7a73ff;
$color-stripe__blue: #80e9ff;
$color-stripe__overlap: #0048e5;

$color-background__grey: #f7fafc;
$color-background__day: rgb(246, 249, 251);
$color-text__dark: #3c4257;
$color-text__light: #697386;

$font__large: 1.5rem;
$font__medium: 1rem;
$font__small: 0.875rem;

$font-family__main: 'Roboto', sans-serif;
$font-family__logo: 'Baloo Da 2', sans-serif;

$border-radius: 4px;

$footer-height: 3.6rem;
$header-height: 3.6rem;

$box-shadow__main: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
$box-shadow__focus: rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(60 66 87 / 16%) 0px 0px 0px 1px;
$box-shadow__input: rgba(60, 66, 87, 0.16) 0px 0px 0px 1px;
$box-shadow__input-active: rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(60 66 87 / 16%) 0px 0px 0px 1px;
